body {
    background: radial-gradient(circle, #eefefc, #96c2ee);
    margin: 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
}

.container {
    background-color: #fff;
    border: 2px solid #BCCCDC;
    border-radius: 6px;
    width: 500px;
    margin: 26px;
}

form {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

input {
    width: 300px;
    padding: 0.4rem;
    margin: 0.4rem;
    border-radius: 8px;
    border: 1px solid grey;
}

input:focus {
    border-color: #3674B5;
    outline: none;
}

button {
    width: auto;
    padding: 0.4rem;
    margin: 0.4rem;
    border-radius: 8px;
    border: 1px solid grey;
    background-color: #5ab8f3;
    color:#fff
}

section {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.div-main-info {
    background-color: #96c2ee72;
    height: auto;
    width: 350px;
    padding: 1rem;
    margin: 1.2rem;
    border-radius: 16px;
    position: relative;
    overflow: visible;
}

.img-and-temp {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch
}

.temp-txt, .condition-txt {
    text-align: right;
    padding: 0, 8px;
    font-size: 24px;
    font-weight: 600;
}

.detail-weather-info {
    padding-left: 14px;
    display:flex;
    justify-content: space-around
}
 
img {
    display: flex;
    position: absolute;   
    /* top: -30px;              */
    /* left: 0; */
    height: 100px;
}

.temp { 
    font-size: 56px;
    font-weight: 800;
    text-align: right;
    padding-right: 8px;
    margin: 0;
}